div.demowidget {
	border: 1px dotted #eee;
	display: block;
	box-shadow: 3px 3px 10px #aaa;
}

div.demowidget .row {
	border: 1px dotted #eee;
	padding: 3px;
	display: block;
}

div.demowidget label {
	color: magenta;
}

div.demowidget input {
	color: blue;
}
